.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.app__container {
  margin-top: 10px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.opening-page {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}
.opening-page__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #e3dad5;
  font-family: sans-serif;
  color: #4E3524;
}
.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__container {
  margin-top: 10px;
  width: 80vw;
  display: flex;
  justify-content: center;
}

.opening-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.opening-page__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* food info (ONLY SHOW WHEN FOOD IS DETECTED)*/
.food-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.food-info-container h1 {
  text-align: center;
  font-size: 2rem;
}
.food-info-container__body {
  height: 10rem;
  background-color: white;
  border: 1px solid #000;
  display: flex;
  color: white;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 4px;
  background: rgb(110, 198, 198);
  color: #fff;
  font-family: arial;
  -webkit-transition: background-color 0.1s, color 0.1s;
}

.button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #689d77;
  border: 0px;
  border-radius: 20px;
  padding: 5px
}

.h1 {
  font-size: 45px;
  font-family: fantasy;
}

.app__videoFeed{
  border-radius: 20px;
}

.video {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 20px;
}

.bold {
  font-weight: bold;
  font-size: x-large;
}
